<%= form_with model: @task do |form| %>
  <div class="flex-col">
    <div>
      <%= form.label :title%><br />
      <%= form.text_field :title%><br />
    </div>
    <div>
      <%= form.label :description%><br />
      <%= form.text_area :description%><br />
    </div>
    <div>
      <%= form.label :due_date %>
      <%= form.datetime_local_field :due_date %>
    </div>
    <div>
      <%= form.label :status %>
      <%= form.select :status, %w[ pending in-progress completed ]%><br />
    </div>
    <div>
      <%= form.submit %><br />
    </div>

  </div>
<%end%>